@font-face {
  font-family: "Playpen Sans";
  src: url(../CSS/PlaypenSans-VariableFont_wght.ttf);
}
* {
  font-family:"Playpen Sans";
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: #94aeb4;
  margin: 0;
  padding: 0;
}
#main {
  width: 100vw;
  position: relative;
  
}
.nav {
  width: 100vw;
  height: 10.5vh;
  background-color: rgba(58, 166, 255, 0.637);
  display: flex;
  gap: 7vw;
  align-items: center;
  /* margin: 0vh 10vh; */
}
.nav-left {
  margin-left: 10px;
  width: 27vw;
  display: flex;
  gap: 3vh;
  align-items: center;
}
.nav-left a {
  text-decoration: none;
  min-height: 5vh;
  
  color: black;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgba(58, 166, 255, 0.637);
  border: none;
  transition: all ease-in-out 0.4s;
}
.nav-left a:hover {
  background-color: rgba(23, 114, 189, 0.637);
  border-radius: 10px;
}
.nav-center {
  width: 28vw;
  display: flex;
  gap: 3vw;
  align-items: center;
}
.nav-center img {
  width: 20%;
  height: 67.5px;
}
.nav-center h2 {
  font-weight: 800;
}
.nav-right {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}
.nav-right input {
  padding: 1vh 1vw;
  border-radius: 8px;
}
.nav-right button {
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 7px;
  font-style: bold;
  margin-right: 20px;
}
#search{
  background-color: #84d6d2;
  outline: none;
  columns: #333;
}
button{
  background-color: transparent;
  color: black;
  font-size: 1.1em;
  font-weight: 550;
  border-radius: 4px;
  transition: all ease-in-out 0.4s;
}
button:hover{
  cursor: pointer;
  background-color: #333;
  color: rgb(80, 201, 201);
  border-color: rgb(80, 201, 201);
  border-radius: 7px;
}
header {
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  height: max-content;
  margin-bottom: 10px;
  width: 90vw;
  height: 80vh;
  margin: auto;
  margin-bottom: 4vh;
  margin-top: 5vh;
  /* position: absolute; */
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header p {
  font-size: 24px;
}

main {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  /* position: absolute;
  bottom: 0px; */
  width: 100vw;
}

.video-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  z-index: -1;
  box-shadow: 0px 0px 60px 50px rgba(146, 241, 248, 0.562);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: relative;
  top: -50%;
  left: 0;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
}

.content {
  text-align: center;
}

.experiences {
  padding-top: 5vh;
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(
    to right,
    rgba(0, 195, 255, 0.651),
    rgb(0, 174, 255)
  );
}
.exp-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.exp-bottom {
  display: flex;
  justify-content: space-evenly;
}
.exp-bottom a img {
  width: 18vw;
  height: 30vh;
  border-radius: 6px;
}
.ex-card {
  width: 18vw;
  height: 30vh;
  border-radius: 6px;
  overflow: hidden;
}
.ex-card p {
  transform: translateY(-120%);
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  padding-left: 10%;
  border-radius: 6px;
}
.ex-card .card-details {
  width: 100%;
  height: fit-content;
  /* padding: 5px 5px; */
  /* position: relative; */
  
  text-align: center;
  transform: translateY(100%);
}
.ex-card .card-details p{
  text-align: left;
}

.ex-card:hover {
  animation: card-anime 2s ease-in-out 1;
  animation-fill-mode: forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes card-anime {
  from {
    background-color: rgba(0, 0, 0, 0);
    width: 18vw;
  }
  to {
    background-color: rgba(0, 0, 0, 0.596);
    height: 60vh;
  }
}

#discover-india {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#discover-inner {
  width: 100%;
}
#discover-india h2{
  /* letter-spacing: 1px; */
  font-size: 4.5em;
  word-spacing: 20px;
  text-shadow: 0px 0px 15px rgb(0, 89, 255);
}
#discover-india #discover-inner section {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#discover-india #discover-inner .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../resources/parallex-history.jpg);
}

#discover-india #discover-inner h1 {
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  font-size: 3em;
  font-weight: 400;
}
#discover-india #discover-inner section h1 a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
#discover-india #discover-inner section h1 a:hover {
  text-decoration: none;
  color: rgba(0, 195, 255, 0.651);
  font-weight: 600;
}
#discover-india #discover-inner #bg1 {
  background-image: url(../resources/para-taj.jpg);
}
#discover-india #discover-inner #bg2 {
  background-image: url(../resources/parallex-history.jpg);
}
#discover-india #discover-inner #bg3 {
  background-image: url(../resources/technology.jpg);
}
#discover-india #discover-inner #bg4 {
  background-image: url(../resources/para-art.jpg);
}
#discover-india #discover-inner #bg5 {
  background-image: url(../resources/para-destination.jpg);
}

#loader {
  width: 100vw;
  height: 100vh;
  background-color: rgb(23, 40, 49);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 10;
  position: fixed;
  /* gap: 5vw; */
}
/* #loader h1{
  font-weight: 900;
  font-size: 8vh;
} */

#loader {
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 40, 49);
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo path:nth-child(13) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards;
}
#logo path:nth-child(12) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 0.2s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 0.4s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 0.6s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 0.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 1s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 1.4s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 1.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 1.8s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 2s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 2.2s;
}
#logo path:nth-child(1) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 5s ease forwards 2.4s;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

#slider-head h1{
  width: fit-content;
  margin: auto;
  font-weight: 700;
  /* text-align: center; */
}
#slider-container {
  width: 90%;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 60px 35px rgb(191, 218, 226);
  
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}
.slide img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80vh;
  top: 0px;
  
}
.slide .slide-con h2{
  position: relative;
  margin: auto;
  top: 20vh;
  left: 5vw;
  cursor: pointer;
  font-weight: 700;
  font-size: 7vh;
  margin-bottom: 3vh;
}
.slide .slide-con p{
  position: relative;
  margin: auto;
  top: 20vh;
  left: 5vw;
  color: white;
  font-style: bold;
  font-weight: 400;
  font-size: 3vh;
  /* visibility: hidden; */
  

}
.slide-con{
  width: 60vw;
  
}
#slide1{
  position: relative;
  /* left: 3vw; */
  /* top: 10vh; */
}



/* body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(#0d0d0d, #212121);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9bb5e3;
} */


.fotbackground{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#footer-svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% ;
  transform: scale(4);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}
footer{
  position: relative;
  left:0;
  bottom: 0;
  display: flex;
  width: 40vw;
  height: 60vh;
}
.fotcont{
  display: flex;
  flex-direction: column;
  align-content: center;
  /* justify-content: flex-end; */
  /* gap:30px; */
  /* padding-bottom: 60px;
  padding-left: 60px; */
  /* width: 100%; */
}

ul{
  /* display: flex; */
  list-style:none;
  /* justify-content: space-around;
  padding: 0;*/
  /* margin: 0; */
  
}

.fots{
  display: flex;
  flex-direction:row;
  justify-content:space-evenly; 
  /* border: 2px solid black; */
  position: absolute;
  width: 90vw;
  margin: 5vh 5vw;
  font-weight: 600;
  font-size: 1.2em;
}
#fots-mid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20vw;
}
#legal{
  position:absolute;
  bottom: 0px;
  left: 50%;
  font-weight: 900;
  font-size: 18px;
}
.fotcont ul li a{
  list-style: none;
  text-decoration: none;
  color: #000000;
}
.fotcont ul li a:hover{
  list-style: none;
  text-decoration: none;
  color: #cde1e2;
}
#banner{
  padding: 10px 20px;
}