*{
    margin: 0px;
    padding: 0px;
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
}
p{
    font-size: 20px;
}
.heading {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#main{
    width: 100vw;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.header{
    background-image: url(../Resources/vlcsnap-2024-01-22-23h01m44s632.png);
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.header h5{
    width: 100vw;
    font-size: 20px;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 40vh;
}
.header .nav{
    height: 10vh;
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 7vw;
    gap: 50px;
}
.header .nav a{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title h1, h3{
    color: white;
    text-align: center;
    width: 80vw;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30vh;
}
.advantage-india{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 100vw;
    z-index: 0;
}
.advantage-india h2{
    padding: 15px 90px;
    background-color: orange;
    margin: 2vh 0vh;
    color: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.advantage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    flex-wrap: wrap;
}

.advant{
    width: 18vw;
    padding: 2vh;
    list-style: inside;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    color: white;
}
#advant-1{
    background-color: rgb(245,132,31);
}
#advant-2{
    background-color: rgb(0,150,63);
}
#advant-3{
    background-color: rgb(12,36,105);
}
#advant-4{
    background-color: rgb(96,96,96);
}
.advan-li{
    padding: 2vh 5%;
    height: 80vh;
}
.advan-li ul li {
    margin: 3vh 0vh;
}
#rombust-1{
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    margin-bottom: 4vh;
    background-color: rgb(245,132,31);
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
}

#rombust-2{
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    margin-bottom: 4vh;
    background-color: rgb(0,150,63);
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
}
#rombust-3{
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    margin-bottom: 4vh;
    background-color: rgb(12,36,105);
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
}
#rombust-4{
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    margin-bottom: 4vh;
    background-color: rgb(96,96,96);
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
}
.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    background-color: white;
    padding: 5% 0%;
    width: 100vw;
    /* margin-top: 3vh; */
    /* align-items: center; */
}

.intro-left{
    width: 40vw;
    /* border: 3px solid black; */
}
.intro-left p{
    margin: 0px, 10px;
    padding: 20px 10px;
}
.intro-left h3{
    width: 40vw;
    text-align: start;
    color: rgb(0,150,63);
    font-size: 4vh;
}
.intro-right {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 0px 0px 30px 40px rgb(245, 140, 161); */
}
.intro-right img{
    width: 90%;
    height: 70%;
}

.market{
    background-color: rgb(254,217,186);
    padding: 10vh;
}
.market h2{
    margin-left: 45px;
    margin-bottom: 10vh;
    color: rgb(0,150,63);
}
.market-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5vh;
}
.market-left{
    width: 40vw;
}
.market-left img{
    width: 40vw;
}
.market-right{
    width: 40vw;
}
.market p{
    width: 85vw;
    margin: auto;
    margin-bottom: 20px;
    line-height: 1.3;
}
.market .market-content .market-right p{
    margin-bottom: 20px;
    line-height: 1.3;
    width: 40vw;
}

.development{
    background-color: #fff;
    padding: 15vh;
}
.development h2{
    color: rgb(0,150,63);
    margin-bottom: 5vw;
}
.development p{
    margin-bottom: 3vh;
}
.development ul li{
    margin-bottom: 2vh;
    line-height: 1.3;
}

.media
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: rgb(113, 167, 202);
    padding: 20px;
    width:97vw;
}
.media video{
    width:90vw;
    height: 55vh
}
.media h1{
    font-size: 2.5em;
    text-align:center;
    color:#000000;
}
.media h3{
   color: #000;
}
.media p{
    color: rgb(27, 26, 26);
}
.media img
{
    width: 67vw;
    height:62vh;
    border-radius: 4px;

}
.topscientist{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    width: 97vw;
}
.topscientist h1
{
    font-weight: bold;
    text-align: start;
    color: #000000;
}
.topscientist h2
{
   color: #000;
   font-weight: bold;
}
.topscientist i
{
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
}
.topscientist img
{
    width: 65vw;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
}
.topscientist video
{
    width: 65vw;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
}
@media only screen and (min-width: 768px) {
    .media{
        max-width: 100%;
        margin-right: 20px;
    }
    .topscientist{
        max-width: 100%;
        float: right;
    }
}
.isro{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    width: 97vw;
}
.isro h1
{
    font-weight: bold;
    text-align: start;
    color: #ffffff;
}
.isro h2
{
   color: #ffffff;
   font-weight: bold;
}
.isro p
{
    margin: 50px;
    color: #e9e1e1;
    font-weight: bold;
}
.isro li
{
    margin: 30px;
    color: #e9e1e1;
    font-weight: bold;
}
.isro img
{
    width: 65vw;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
}
.isro video
{
    width: 65vw;
    height: 50vh;
    margin: 20px;
    border-radius: 10px;
}
.india75
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 90, 90);
    padding: 20px;
    width: 97vw;
    color: #ebebeb;
}
.india75 video
{
    width: 65vw;
    height: 50vh;
    margin: 20px;
    border-radius: 20px;
} 
footer 
{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}